*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color:#d6e2f0;
}

#container{
    width: 350px;
    height: 550px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color:#fff;
}

#container img {
    width: 100%;
    border-radius: 15px;
}

#description{
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

#description h2{
    text-decoration: bolder;
    font-family: 'Poppins', sans-serif;
    color:#1f3251;
}

#description p{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    color:#264073;
}